
# List

Lists can contain millions of items, so Python provides an
efficient way to loop through all the items in a list. When
you set up a loop, Python pulls each item from the list one
at a time and assigns it to a temporary variable, which
you provide a name for. This name should be the singular
version of the list name.
The indented block of code makes up the body of the
loop, where you can work with each individual item. Any
lines that are not indented run after the loop is completed



    iteration operation with loop
    apply any operation on element

In [135]:
a : list[str] = ["salma","Asma","Najma","kosar","kishwar"]
for i in a:
  print(i)

salma
Asma
Najma
kosar
kishwar

```Printing a message for each item, and a separate
message afterwards

In [136]:
for i in a:
  print(f"\nWelcome, {i} \nWe're so glad you joined! ")
print("\nWelcome, we're glad to see you all!")

Welcome, salma
We're so glad you joined!

Welcome, Asma
We're so glad you joined!

Welcome, Najma
We're so glad you joined!

Welcome, kosar
We're so glad you joined!

Welcome, kishwar
We're so glad you joined!

Welcome, we're glad to see you all!

# `Numbers with loop`
`range(start,end,step)`

You can use the range() function to work with a set of
numbers efficiently. The range() function starts at 0 by
default, and stops one number below the number passed to
it. You can use the list() function to efficiently generate a
large list of numbers.

` Printing the numbers 0 to 100`

In [137]:
for i in range(100):
  print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

` Printing the numbers 1 to 10`

In [138]:
for i in range(1,11):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

`Making a list of numbers from 1 to a 121`

In [139]:
num = list(range(1,21))
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [140]:
a = list(range(1,11))
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [184]:
list (range(3,31,3)) # starting=3, ending = n-1 31-1=30, 3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

# For Loop

In [141]:
data_base : list[tuple[str,int]] = [("Iqra",123),
                                    ("Fatima",345),
                                    ("Uzima",567)
                                    ]

for row in data_base:
  user,password = row
  print(f"User : {user}\nPassword : {password}")

User : Iqra
Password : 123
User : Fatima
Password : 345
User : Uzima
Password : 567

## Else with For Loop
`The else keyword in a for loop specifies a block of code to be executed when the loop is finished.`

# `Login Setup`

In [189]:
data_base : list[tuple[str,str]] = [("Iqra Jahangir","123"),
                                    ("Fatima Jahangir","345"),
                                    ("Uzma Jahangir","567")
                                    ]
input_user : str = input("Enter Your Name : ")
input_password : str = input("Enter Your Password : ")

for row in data_base:
      user,password = row
      if input_user == user and input_password == password:
            print(f"Welcome {user} ! \nyour are Successfuly Login")
            break
      
else: # this else is for the for loop
      print("Not found")

Welcome Iqra Jahangir !
your are Successfuly Login

#  For Loop with if_else condition

In [190]:
data_base : list[tuple[str,str]] = [("Iqra","123"),
                                    ("Fatima","345"),
                                    ("Uzima","567")
                                    ]
input_user : str = input("Enter Your Name : ")
input_password : str = input("Enter Your Password : ")

for row in data_base:
      user,password = row
      if input_user == user and input_password == password:
            print(f" Welcome {user}")
            break
      elif input_user == user and input_password != password:
            print("Invalid Pasword! please enter correct password")
            break
      elif input_user != user and input_password == password:
            print("Invalid Username! please enter correct Username")
            break
      
else: # this else is for the for loop
      print("Not found or Invalid user name")

Invalid Username! please enter correct Username

In [ ]:
Students : list[str] = ["Iqra","Fatima","Uzma"]

for student in Students:
  print(f"Welcome {student.title()} to the party!")
 
print(f"\nWelcome to the party! {student.title()} ") 
# this print is not in the loop so it will print only the last student name

Welcome Iqra to the party!
Welcome Fatima to the party!
Welcome Uzma to the party!

Welcome to the party! Uzma

# Loop with list slicing

# `Positive Indexing`

```slicing syntax
possitive index =  [ start : end : step]
```

`Start from index 4 to end`

In [ ]:
# >                       0       1       2       3       4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]

for student in Students[4:]:   # start from index 4 to end
  print(f"Welcome {student.title()} to the party!")

Welcome Kosar to the party!
Welcome Najma to the party!
Welcome Asma to the party!
Welcome Salma to the party!

`start from 1 and end at 5`

In [ ]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1

# >                       
for student in Students[1:5]:   # start from 1 and end at 5
  print(f"{student.title()}")

` start from 1 and end at 3`

In [ ]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1

for student in Students[1:3]:   # start from 1 and end at 3 
  print(f"{student.title()}")

Fatima
Uzma

# `Negative Indexing`

```Syntax
Negative index = [ start : end : step]  n-1
```

`Start from 0 and remove last element`

In [144]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1

for student in Students[:-1]:   # Start from 0 and remove last element
  print(f"{student.title()}")

Iqra
Uzma
Kosar
Asma

```start with 0 and remove last two elements```

In [ ]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1

for student in Students[:-2]:   # start with 0 and remove last two elements
  print(f"{student.title()}")

Iqra
Fatima
Uzma
Kishwar
Kosar
Najma

```start from 0 and remove last 4 element```

In [ ]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1

for student in Students[:-4]:   # start from 0 and remove last 4 element
  print(f"{student.title()}")

Iqra
Fatima
Uzma
Kishwar

```start from 2 and remove last 2 element```

In [ ]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1

for student in Students[2:-2]:   # start from 2 and remove last 2 element
  print(f"{student.title()}")

Uzma
Kishwar
Kosar
Najma

`Start from 1 and remove last 5 elements`

In [145]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1

for student in Students[1:-5]:   # start from 1 and remove last 5 elements
  print(f"{student.title()}")

Fatima
Uzma

`start from 0 and remove last element and step 3`

In [153]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1

# >             [start: end: step]
for student in Students[ :-1 :3]:   # start from 0 and remove last element and step 3
  print(f"{student.title()}")

Iqra
Kishwar
Asma

` start from 2 and remove last element and step 3`

In [156]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1

# >             [start: end: step]
for student in Students[2:-1 :3]:   #  start from 2 and remove last element and step 3
  print(f"{student.title()}")

Uzma
Najma

`start from 0 and remove last element and step 2`

In [158]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1

# >             [start: end: step]
for student in Students[ :-1 :2]:   #  start from 0 and remove last element and step 2
  print(f"{student.title()}")

Iqra
Uzma
Kosar
Asma

`start from 0 and remove last 2 element and step 2`

In [162]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1

# >             [start: end: step]
for student in Students[ :-2 :2]:   #  start from 0 and remove last 2 element and step 2
  print(f"{student.title()}")

Iqra
Uzma
Kosar

# Reverse slicing

`Reverse the list`

In [164]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1


for student in Students[ : : -1 ]:   # reverse the list
  print(f"{student.title()}")

Salma
Asma
Najma
Kosar
Kishwar
Uzma
Fatima
Iqra

` Reverse the list with step 4`

In [167]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1


for student in Students[ : : -4 ]:   # reverse the list with step 4
  print(f"{student.title()}")

Salma
Kishwar

`Reverse the list with step 2`

In [169]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1

for student in Students[ : : -2 ]:   # reverse the list with step 2
  print(f"{student.title()}")

Salma
Najma
Kishwar
Fatima

`Reverse the list with step 3`

In [168]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1

for student in Students[ : : -3 ]:   # reverse the list with step 3
  print(f"{student.title()}")

Salma
Kosar
Fatima

`Reverse the list with step 4`

In [170]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1

for student in Students[ : : -4]:   # Reverse the list with step 4
  print(f"{student.title()}")

Salma
Kishwar

`Reverse the list with step 5`

In [171]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1

for student in Students[ : : -5]:   # Reverse the list with step 5
  print(f"{student.title()}")

Salma
Uzma

In [ ]:
# >                       0       1       2       3        4       5       6       7
Students : list[str] = ["Iqra","Fatima","Uzma","Kishwar","Kosar","Najma","Asma","Salma"]
# <                      -8      -7      -6      -5       -4      -3      -2      -1

for student in Students[ : : -2]:   # Reverse the list with step 4
  print(f"{student.title()}")
  # salma , najma , kishwar ,

``` Empty list update through for loop```

In [9]:
brothers : list[str] = []

for bro in range(1,6):
  bro = input(f"Enter the name of Brother {bro} : ")
  brothers.append(bro)
  print(f"{bro}")

Shaikh Abdul Jabbar
Shaikh Muhammad Jaffar
Shaikh Muhammad Javed
Shaikh Abdul Sattar
Shaikh Muhammad Zulfi

# enumerate

In [182]:
brothers = ['Jabbar', 'Jaffar', 'Javed', 'Sattar', 'Sami']

list(enumerate(brothers))

[(0, 'Jabbar'), (1, 'Jaffar'), (2, 'Javed'), (3, 'Sattar'), (4, 'Sami')]

`enumerate with for loop`

In [178]:
brothers = ['Jabbar', 'Jaffar', 'Javed', 'Sattar', 'Sami']

for bro in enumerate(brothers):
  print(bro)

(0, 'Jabbar')
(1, 'Jaffar')
(2, 'Javed')
(3, 'Sattar')
(4, 'Sami')

`Display Table with for loop`

In [16]:
table : str = input("Enter Number for table printing : ")
for i in range(1,11):
  print(f"{table} X {i} = {int(table) * i}")

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

`Display Squares with empty list and use ranae function`

In [25]:
squares : list [int] = []
for value in range(1,11):
  square = value ** 2
  squares.append(square)
  print(square , end=" ")

1 4 9 16 25 36 49 64 81 100

`Display numbers squares from 1 to 10 with list`

In [33]:
num : int = [1,2,3,4,5,6,7,8,9,10]
for value in num:
  square = value ** 3 
  print(square, end=" ")

1 8 27 64 125 216 343 512 729 1000

`Display Squares with range `

In [36]:
for i in range(1,11):
  print(i ** 3, end=" ")

1 8 27 64 125 216 343 512 729 1000

# `List comprehensive`

``` 
Comprehensive Style
[loop_body for item in items_list]
```

`A list comprehension consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses. The result will be a new list resulting from evaluating the expression in the context of the for and if clauses which follow it. For example, this listcomp combines the elements of two lists if they are not equal:`

`List comprehensive with for loop`

# Exponent (**)
  `Example :  2**3 = 2 X 2 X 2 = 8`

In [ ]:
# Exponent is also caled power operator

[i ** 3 for i in range(1,11)] # this is Comprehension style

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [48]:
[ (x , y ) for x in [1,2,3] for y in [4,2,5] if x]

[(1, 4), (1, 2), (1, 5), (2, 4), (2, 2), (2, 5), (3, 4), (3, 2), (3, 5)]

`and itâ€™s equivalent to:`

In [ ]:
num = []
for x in [1,2,3]:
  for y in [4,2,5]:
    if x != y:
      num.append((x , y))
print(num)

[(1, 4), (1, 2), (1, 5), (2, 4), (2, 5), (3, 4), (3, 2), (3, 5)]

[(1, 4), (1, 2), (1, 5), (2, 4), (2, 5), (3, 4), (3, 2), (3, 5)]

` Multiplication (*) `

In [ ]:
a = [ 2 , 4 , 6 , 8]

[ x * 2 for x in a] # List Comprehensive

[4, 8, 12, 16]

` Exponent ** is also caled power`

In [52]:
a = [ 2 , 4 , 6 , 8]

[ x ** 2 for x in a] # List Comprehensive

[4, 16, 36, 64]

` "//" Floor division also called Times of table`

In [ ]:
a = [ 20 , 40 , 60 , 80]

[ x // 3 for x in a] # List Comprehensive

[6, 13, 20, 26]

`Modulus %  Also called Reminder`

In [65]:
a = [ 20 , 40 , 60 , 80]

[ x % 3 for x in a] # List Comprehensive

[2, 1, 0, 2]

`filter the list to exclude negative numbers`

In [69]:
a = [ -2 , -4 , 6 , 8 , 0 , 2]

[x for x in a if x >= 0 ]

[6, 8, 0, 2]

` apply a function to all the elements`

In [72]:
a = [ -2 , -4 , 6 , 8 , 0 , 2]
[abs(x) for x in a]

[2, 4, 6, 8, 0, 2]

`flatten a list using a listcomp with two 'for'`

In [ ]:
list = [ [ 2 , 4 ] , [ 5 , 7] , [ 8 , 9 ] , [ 10 , 12 ] ]
[b for a in list for b in a]

[2, 4, 5, 7, 8, 9, 10, 12]

# `Nested List Comprehensions`

`The initial expression in a list comprehension can be any arbitrary expression, including another list comprehension.`

`Consider the following example of a 3x4 matrix implemented as a list of 3 lists of length 4:`

In [160]:
matrix = [  [ 2 , 4 , 6 , 8 ], 
            [ 5 , 7 , 9 , 11 ], 
            [ 8 , 9 , 10 , 11] 
          ]
[[row[i] for row in matrix ] for i in range(4) ]

[[2, 5, 8], [4, 7, 9], [6, 9, 10], [8, 11, 11]]

`As we saw in the previous section, the inner list comprehension is evaluated in the context of the for that follows it, so this example is equivalent to:`

In [162]:
a = []
for i in range(4):
  a.append([row[i] for row in matrix])
print(a)

[[2, 5, 8], [4, 7, 9], [6, 9, 10], [8, 11, 11]]

`In the real world, you should prefer built-in functions to complex flow statements. The zip() function would do a great job for this use case:`

# strip()
`The strip() method in Pythonis used to remove leading and trailing whitespace (spaces, tabs, newlines) from a string. It does not affect the content of the string in between, only at the edges.`

`call a method on each element`

In [80]:
fruits = ["  apple  ","   banana     "," cherry"," kiwi  ","   mango  "] # whitespace

[fruit.strip() for fruit in fruits] # strip() method removes the whitespace from the string

['apple', 'banana', 'cherry', 'kiwi', 'mango']

# Tuple

`A tuple is a collection which is ordered and unchangeable. Tuples are written with round brackets.`

In [61]:
tupple = (1,2,3,4,5,6,7,8,9,10)
print(tupple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [57]:
num : tuple[str,int,float] = ("a",2,9.9)
print(num) # print
print(type(num)) # type
print(dir(num))

('a', 2, 9.9)
<class 'tuple'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

`slicing with tuple`

In [ ]:
names:tuple[str] = ('A',"B",'C','d')
print(names[0])   # index 0
print(names[ :4]) # start from 0 and end at 4
print(names[1:3]) # start from 1 and end at 3
print(names[2:])  # start from 2 and end at last
print(names[ :-1])  # last element

A
('A', 'B', 'C', 'd')
('B', 'C')
('C', 'd')
('A', 'B', 'C')

`A tuple consists of a number of values separated by commas, for instance:`

In [19]:
t = 123,'Fatima','Uzma','Kishwar'
print(t[0]) # index 0
print(t[1]) # index 1

123
Fatima

`Tuples may be nested:`

In [22]:
t = 123,'Fatima','Uzma','Kishwar'
u = t , (1,2)
u

((123, 'Fatima', 'Uzma', 'Kishwar'), (1, 2))

`Tuples are immutable:`

In [14]:
names:tuple[str] = ('A',"B",'C','d')
names[0] = " Pakistan " # error because tuple is immutable

TypeError: 'tuple' object does not support item assignment

`but they can contain mutable objects:`

In [28]:
# >  0  1  2
v = ([],[],[])   # list inside tuple
v[0].append(10)  # append 10 in index 0
v[1].append(20)
v[2].append(30)
print(v)

([10], [20], [30])

In [114]:
data : tuple[any] = ('Iqra',[1,2,3], 'Fatima', 123)
print(f" Before pop \n data = {data}")

a = data[1].pop() # Remove last element from index 1
print(f"\n a = data[1].pop() \n a = {a} \n data = {data}")

 Before pop
 data = ('Iqra', [1, 2, 3], 'Fatima', 123)

 a = data[1].pop()
 a = 3
 data = ('Iqra', [1, 2], 'Fatima', 123)

# `tuple methods`

```# Tuple Methods:
1. count(): Returns the number of times a specified value occurs in a tuple 
2. index(): Searches the tuple for a specified value and returns the position of where   it was found
```

In [58]:
print([i for i in dir(num) if "__" not in i ]) # methods & attributes

['count', 'index']

```
create a list of 2-tuples like (number, square) 
squares and exponent = **
  ```

In [86]:
[(x , x ** 2) for x in range(1,11)]

[(1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100)]

```
create a list of 2-tuples like (number, module) 
module = %
  ```

In [98]:
[(x, x % 2) for x in range(2,11)]

[(2, 0), (3, 1), (4, 0), (5, 1), (6, 0), (7, 1), (8, 0), (9, 1), (10, 0)]

` the tuple must be parenthesized, otherwise an error is raised`

In [106]:
[x, x % 2 for x in range(2,11)] # Missing the tuple brackets

SyntaxError: did you forget parentheses around the comprehension target? (703956320.py, line 1)

`Another Example`

In [105]:
[ x , y  for x in [1,2,3] for y in [4,2,5] if x]  # Missing the tuple brackets

SyntaxError: did you forget parentheses around the comprehension target? (1507933623.py, line 1)